@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@200&family=Ephesis&family=Fira+Mono:wght@400;500&family=IM+Fell+English&family=Josefin+Sans:ital,wght@0,400;1,300&family=Kaisei+HarunoUmi:wght@700&family=Lora:ital,wght@1,500&family=Mulish:wght@200;700;1000&family=Open+Sans&family=Raleway:wght@300&family=Satisfy&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Open sans ;
}
body{
  background-image: url('https://media.istockphoto.com/id/1367756031/vector/light-blue-watercolor-background-illustration.jpg?s=612x612&w=0&k=20&c=qiJl7j-2terwHd-1YJxiFIo1VJx6l6IsmoqlgeypQ7c=');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;

}
.row{
  height: 470px;
}

.row .col-6{
  padding: 150px;
}

.row .col-6 h2{
  color: #0D47A1;
  font-weight: 1000;
  text-shadow: 2px 2px 4px #1336b58b;}

.row .col-6 p{
  text-align: justify;
  color: #0D47A1;
}

.form{
  border-radius: 5%;
  background-color: white;
}
.input{
  display: flex;
  flex-direction: column;

}
.result{
  border-radius: 15px;
  background-color: rgb(127, 202, 255);
  box-shadow: 3px 2px 2px 3px inset rgb(61, 65, 66);

}
.result h3{
  text-align: center;
  font-weight: bold ;
}


.text-fade {
  animation: fade 3s ease-in-out infinite alternate;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}





